body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #bde5ff;
  /* background: linear-gradient(to right, #cdf8f5, #c3def3, #c8e3fa); */
  /* background: linear-gradient(to right, #c3f3bd, #affaa7, #c2f1bb); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage {
  font-family: cursive;
  font-size: x-large;
  margin-top: .5cm;

}


a{
  color: white;
}


/*  */
.quote1{
  position:absolute;
  right:8in;
  bottom: 1in;
}

/*  */
input{
  width: 20%;
  height: .5in;
  border: 10px #54789e double;
}


.navbar {
  color: rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 2em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 rgb(167, 165, 165), 1px 2px 0 rgb(161, 161, 161), 1px 3px 0 rgb(153, 153, 153), 1px 4px 0 rgb(163, 163, 163),
    1px 5px 0 rgb(158, 158, 158), 1px 6px 0 rgb(167, 167, 167), 1px 7px 0 rgb(158, 158, 158), 1px 8px 0 rgb(167, 167, 167),
    5px 13px 15px black;
  margin: 2cm;
  text-decoration: none;

}

.navbar a{
  margin: 20px;
  text-decoration: none;
}

/*  */
.signup{
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: rgb(0, 0, 0);
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
}

.button{
  width: 100%;
  display: block;
  padding: 10px;
  background: transparent;
  outline: none;
  border: 0;
  color: white;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 25px;
}

.post-button{
  position: relative;
  left: 3.3in;
  display: block;
  padding: 10px;
  /* background: transparent; */
  border: solid 4px black;
  font-family: monospace;
  font-size: 25px;
  margin: .5cm;
  transition:.3s; 
}

.post-button:hover{
  transition:.3s; 
  /* box-shadow: #03e9f4, skyblue; */
   box-shadow:  -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}



.content{
  box-shadow: black;
  border: 10px #54789e double;
  width: 8in;
  position: bottom right;
}


.title{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

.navbar:hover {
  transition: 0.3s;
  /* transform: scale(1.1)translate(-50%, -50%); */
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  font-family: monospace, serif;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s;
  margin-top: 40px;
  letter-spacing: 4px
}


.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #06d1db);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.login-text{
  color:white;
  margin-bottom: 1.5cm;
}

.article-label{
  color:black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;

}


body {
  display: flex;
  justify-content: center;
}


.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; 
  animation: 
    typing 6s steps(30, end),
    blink-caret .5s step-end infinite;
  margin-top: 2.5in;

}

.typewriter h2 {
  color: #fff;
  font-family: monospace;
  font-size: 2.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-bottom: 1.5cm;
  letter-spacing: .15em; 
  animation: 
    typing 6s steps(30, end),
    blink-caret .5s step-end infinite;
  margin-top: 1in;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


/*  */
/* .post-article a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s;
  margin-top: 40px;
  letter-spacing: 4px;
} */


.like_button{
  font-size: .8cm;
  background-color: transparent;
  border: none;
}

.article-label{
  margin-top: 1in;
  margin-bottom: 1in;
}



.navbar a{
left: 500px;
position: relative;
bottom: 10px;
} 

.emoji-button-delete{
  background-color: transparent;
  font-size: .8cm;
  border: transparent;
}

.emoji-button-delete:hover{
  transition: 0.3s;
  /* transform: scale(1.1)translate(-50%, -50%); */
  text-shadow: 1px -1px 0 rgb(119, 119, 119), 5px -13px 25px #808080;
}


h2{
  font-size: 2em;
  
}

.postarticle-label{
  font-size: 1.5em;
  font-weight:normal;

}

.card p {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
} 

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  }


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}
